#include "corne_tp.dtsi"

// 1. Target the root node to add the new hardware devices
/ {
    encoder_1: encoder_1 {
        compatible = "alps,ec11";
        // Replace 14 and 15 with the actual nice!nano pins used for Encoder 1's A and B channels
        a-gpios = <&pro_micro 15 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
        b-gpios = <&pro_micro 18 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
        steps = <20>;
    };

    encoder_2: encoder_2 {
        compatible = "alps,ec11";
        // Replace 16 and 10 with the actual nice!nano pins used for Encoder 2's A and B channels
        a-gpios = <&pro_micro 20 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
        b-gpios = <&pro_micro 19 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
        steps = <20>;
    };

    // 2. Tie both encoders into ZMK's sensor scanning list
    sensors: sensors {
        compatible = "zmk,keymap-sensors";
        sensors = <&encoder_1 &encoder_2>;
        triggers-per-rotation = <20>;
    };
};

// Your original matrix scanning code remains completely unchanged out here
&kscan0 {
    col-gpios
        = <&pro_micro 9 GPIO_ACTIVE_HIGH>
        , <&pro_micro 8 GPIO_ACTIVE_HIGH>
        , <&pro_micro 7 GPIO_ACTIVE_HIGH>
        , <&pro_micro 6 GPIO_ACTIVE_HIGH>
        , <&pro_micro 5 GPIO_ACTIVE_HIGH>
        , <&pro_micro 4 GPIO_ACTIVE_HIGH>
        ;
};
