#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/rgb.h>

#define base 0
#define numpad 1
#define navigation 2
#define MOUSE_TP 3
#define MOUSE_TP_SET 4

// This defines a special way of defining combos that makes them way more compact
#define COMBO(NAME, BINDINGS, KEYPOS) \
  combo_##NAME { \
    timeout-ms = <40>; \
    bindings = <BINDINGS>; \
    key-positions = <KEYPOS>; \
    layers = <0 1 2 3 4>; \
  };
#define STRINGIFY(x) #x
#define EXPAND_AND_STRINGIFY(x) STRINGIFY(x)
#define MACRO(NAME, BINDINGS) \
  mcr_##NAME: mcr_##NAME { \
    label = EXPAND_AND_STRINGIFY(mcr_##NAME); \
    compatible = "zmk,behavior-macro"; \
    #binding-cells = <0>; \
    wait-ms = <20>; \
    tap-ms = <10>; \
    bindings = <BINDINGS>; \
  };

// Mod tap settings
&mt {
    tapping-term-ms = <200>;   // hold for longer than this value, or press any other key while held, and it functions as a mod
};

/*
 * Defines to enable/disable features
 *
 * These defines allow us to conditionally enable and disable parts of the keymap config.
 * For example, if we decide to build the firmware without the mouse features, we can
 * disable all the config options that rely on those forks and modules without having
 * to edit the entire keymap file manually every time.
 */

#define HAS_MOUSE_KEYS
#define HAS_MOUSE_TP

#ifdef HAS_MOUSE_KEYS
  #include <dt-bindings/zmk/mouse.h>
  #include <behaviors/mouse_keys.dtsi>
#endif

// Store the trackpoint settings in a separate file to make organization easier
#ifdef HAS_MOUSE_TP
  #include "include/mouse_tp.dtsi"
#endif

// Adjust layer keys based on enabled features. This prevents build errors when we
// build the firmware without the mouse keys PR or the TP module.
#ifdef HAS_MOUSE_KEYS
  #define U_THUMB_INNER &mo MOUSE_KEYS
#else
  #define U_THUMB_INNER &none
#endif

// if has_mouse_tp, that variable is a toggle layer top the mouse settings, otherwise it's nothing
#ifdef HAS_MOUSE_TP
  #define U_TOG_TP_SET &tog MOUSE_TP_SET
#else
  #define U_TOG_TP_SET &none
#endif

/ {
    macros {
        // Symbol macros and others
        MACRO(deg, &macro_press &kp LALT &macro_tap &kp KP_N2 &kp KP_N4 &kp KP_N8 &macro_release &kp LALT)   // degree
        MACRO(mu, &macro_press &kp LALT &macro_tap &kp KP_N2 &kp KP_N3 &kp KP_N0 &macro_release &kp LALT)    // mu
        MACRO(eps, &macro_press &kp LALT &macro_tap &kp KP_N2 &kp KP_N3 &kp KP_N8 &macro_release &kp LALT)   // epsilon
        MACRO(pi, &macro_press &kp LALT &macro_tap &kp KP_N2 &kp KP_N2 &kp KP_N7 &macro_release &kp LALT)    // pi
        MACRO(sig, &macro_press &kp LALT &macro_tap &kp KP_N2 &kp KP_N2 &kp KP_N9 &macro_release &kp LALT)   // sigma
        MACRO(plsmns, &macro_press &kp LALT &macro_tap &kp KP_N0 &kp KP_N1 &kp KP_N7 &kp KP_N7 &macro_release &kp LALT)   // plus minus symbol
        MACRO(int, &macro_press &kp LSHFT &macro_tap &kp I &macro_release &kp LSHFT &macro_tap &kp N &kp T &kp E &kp R &kp F &kp E &kp R &kp O &kp M &kp E &kp T &kp E &kp R &kp N2 &kp RET)
        MACRO(paren, &macro_tap &kp F2 &kp LPAR &kp RPAR &kp LEFT)   // double parenthesis
        MACRO(in, &macro_tap &kp I &kp N)     // inches
        MACRO(mm, &macro_tap &kp M &kp M)     // millimeters
        MACRO(altb, &macro_press &kp LALT &macro_tap &kp TAB &macro_release &kp LALT)   // alt+tab
        MACRO(tilelt, &macro_press &kp LGUI &macro_tap &kp LEFT &macro_release &kp LGUI)   // tile left
        MACRO(tilert, &macro_press &kp LGUI &macro_tap &kp RIGHT &macro_release &kp LGUI)   // tile right

        // Macros to move by whole words and select words
        MACRO(prv_wrd, &macro_press &kp LCTRL &macro_tap &kp LEFT &macro_release &kp LCTRL)
        MACRO(nxt_wrd, &macro_press &kp LCTRL &macro_tap &kp RIGHT &macro_release &kp LCTRL)
        MACRO(sel_prv, &macro_press &kp LCTRL &kp LSHFT &macro_tap &kp LEFT &macro_release &kp LCTRL &kp LSHFT)
        MACRO(sel_wrd, &macro_press &kp LCTRL &macro_tap &kp RIGHT &macro_press &kp LSHFT &macro_tap &kp LEFT &macro_release &kp LCTRL &kp LSHFT)
        MACRO(sel_nxt, &macro_press &kp LCTRL &kp LSHFT &macro_tap &kp RIGHT &macro_release &kp LCTRL &kp LSHFT)

        // Macros to type common decimal numbers in SolidWorks
        MACRO(025, &macro_press &kp LCTRL &macro_tap &kp A &macro_release &kp LCTRL &macro_tap &kp KP_N0 &kp DOT &kp KP_N0 &kp KP_N2 &kp KP_N5)
        MACRO(100, &macro_press &kp LCTRL &macro_tap &kp A &macro_release &kp LCTRL &macro_tap &kp KP_N0 &kp DOT &kp KP_N1)
        MACRO(125, &macro_press &kp LCTRL &macro_tap &kp A &macro_release &kp LCTRL &macro_tap &kp KP_N0 &kp DOT &kp KP_N1 &kp KP_N2 &kp KP_N5)
        MACRO(187, &macro_press &kp LCTRL &macro_tap &kp A &macro_release &kp LCTRL &macro_tap &kp KP_N0 &kp DOT &kp KP_N1 &kp KP_N8 &kp KP_N7 &kp KP_N5)
        MACRO(250, &macro_press &kp LCTRL &macro_tap &kp A &macro_release &kp LCTRL &macro_tap &kp KP_N0 &kp DOT &kp KP_N2 &kp KP_N5)
        MACRO(375, &macro_press &kp LCTRL &macro_tap &kp A &macro_release &kp LCTRL &macro_tap &kp KP_N0 &kp DOT &kp KP_N3 &kp KP_N7 &kp KP_N5)
        MACRO(500, &macro_press &kp LCTRL &macro_tap &kp A &macro_release &kp LCTRL &macro_tap &kp KP_N0 &kp DOT &kp KP_N5)
        MACRO(625, &macro_press &kp LCTRL &macro_tap &kp A &macro_release &kp LCTRL &macro_tap &kp KP_N0 &kp DOT &kp KP_N6 &kp KP_N2 &kp KP_N5)
        MACRO(750, &macro_press &kp LCTRL &macro_tap &kp A &macro_release &kp LCTRL &macro_tap &kp KP_N0 &kp DOT &kp KP_N7 &kp KP_N5)
        MACRO(875, &macro_press &kp LCTRL &macro_tap &kp A &macro_release &kp LCTRL &macro_tap &kp KP_N0 &kp DOT &kp KP_N8 &kp KP_N7 &kp KP_N5)
};

//                         KEY POSITIONS
// ╭────────────────────────────╮ ╭────────────────────────────╮
// │  0   1   2   3   4   5     │ │     6   7   8   9   10  11 │
// │ 12  13  14  15  16  17     │ │     18  19  20  21  22  23 │
// │ 24  25  26  27  28  29 (41)| │(42) 30  31  32  33  34  35 │
// ╰───────╮(36) 37  38  39  40 │ │ 43  44  45  46  (47)╭──────╯
//         ╰────────────────────╯ ╰─────────────────────╯

  combos {
    compatible = "zmk,combos";

// ╭────────────────────────────────╮   COMBOS   ╭───────────────────────────╮
// │ _   _    _    _    _    _      │    with    │     _   _   _   _   _   _ │
// │ _  .375 .500 .625 .750 .875    │ SPACE (40) │     _   _   _   _   _   _ │
// │ _  .025 .100 .125 .187 .250 (_)│            │(_)  _   _   _   _   _   _ │
// ╰───────╮  (_) PRSC  _    _    _ │            │ _   _   _   _  (_) ╭──────╯
//         ╰────────────────────────╯            ╰────────────────────╯
            COMBO(cmb_025, &mcr_025, 25 40)
            COMBO(cmb_100, &mcr_100, 26 40)
            COMBO(cmb_125, &mcr_125, 27 40)
            COMBO(cmb_187, &mcr_187, 28 40)
            COMBO(cmb_250, &mcr_250, 29 40)
            COMBO(cmb_375, &mcr_375, 13 40)
            COMBO(cmb_500, &mcr_500, 14 40)
            COMBO(cmb_625, &mcr_625, 15 40) 
            COMBO(cmb_750, &mcr_750, 16 40)
            COMBO(cmb_875, &mcr_875, 17 40)
            COMBO(cmb_pscrn, &kp PSCRN, 37 40)

// ╭─────────────────────────╮  OTHER   ╭───────────────────────────╮
// │ _   _{bs}_{dl}_   _{+}_ │  COMBOS  │  _   _    _   _   _     _ │
// │ _   _    _    _   _{-}_ ╰────╮ ╭───╯  _   _    _   _   _{RET}_ │
// │ _   _    _{up}_   _{±}_    _ | | _    _   _{up}_   _   _     _ │
// ╰──────╮   _{dn}_   _   _    _ │ │ _    _   _{dn}_   _ ╭─────────╯
//        ╰───────────────────────╯ ╰─────────────────────╯
            COMBO(bspc, &kp BSPC, 1 2)
            COMBO(del, &kp DEL, 2 3)
            COMBO(esc, &kp ESC, 1 3)
            COMBO(enter, &kp RET, 22 23)
            //COMBO(times, &kp STAR, 3 4)
            //COMBO(divide, &kp SLASH, 15 16)
            COMBO(plus, &kp PLUS, 4 5) 
            COMBO(minus, &kp MINUS, 16 17)
            COMBO(plsmns, &mcr_plsmns, 28 29)
            COMBO(up1, &kp UP, 27 28)         // up arrow by pressing c and v
            COMBO(dn1, &kp DOWN, 37 38)       // down arrow by pressing left and right
            COMBO(up2, &kp UP, 31 32)         // up arrow by pressing left and down (for use on right side)
            COMBO(dn2, &kp DOWN, 45 46)       // down arrow by pressing left and right (for use on right side)
            COMBO(int, &mcr_int, 9 10 11)
            COMBO(mouse, &to 4, 44 45 46)     // go to mouse settings layer
  };
};

/ {
    behaviors {
        mo_tog: behavior_mo_tog {
            compatible = "zmk,behavior-hold-tap";
            label = "mo_tog";
            #binding-cells = <2>;
            flavor = "hold-preferred";
            tapping-term-ms = <200>;
            bindings = <&mo>, <&tog>;
        };
        td_Lshftcaps: td_Lshftcaps {
            compatible = "zmk,behavior-tap-dance";
            label = "td_Lshftcaps";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp LSHFT>, <&kp CAPS>;
        };
    };
   
  keymap {
    compatible = "zmk,keymap";

    base_layer {
      display-name = "base";
      bindings = <
      // ╭──────────────────────────────────╮               ╭────────────────────────────────╮
      // |  TAB     Q     W     E    R   T  |               |  Y    U    I    O    P    BSPC |
      // | SHFT/CAP A     S     D    F   G  ╰──────╮ ╭──────╯  H    J    K    L    ;:   ' "  |
      // |  CTRL    Z     X     C    V   B    (PP) | | (prev)  N    M    ,    .    /?   SHFT |
      // ╰──────────╮ (altb)  <-  ->  ENTER  SPACE | | SPACE ENTER   <-  -> (next)╭──────────╯
      //            ╰──────── ctrl alt  nav numpad ╯ ╰ numpad nav ────────────────╯

        &kp TAB   &kp Q     &kp W    &kp E      &kp R       &kp T                        &kp Y       &kp U     &kp I     &kp O     &kp P     &kp BSPC
    &td_Lshftcaps &kp A     &kp S    &kp D      &kp F       &kp G                        &kp H       &kp J     &kp K     &kp L     &kp SEMI  &kp SQT
        &kp LCTRL &kp Z     &kp X    &kp C      &kp V       &kp B                        &kp N       &kp M     &kp COMMA &kp DOT   &kp SLASH &kp RSHFT
        &mcr_altb &mt LCTRL LEFT &mt LALT RIGHT &lt 2 RET &lt 1 SPACE &kp C_PP   &kp C_PREV &lt 1 SPACE &lt 2 RET &kp LEFT  &kp RIGHT &kp C_NEXT
      >;
      sensor-bindings = <
        &inc_dec_kp LEFT RIGHT
        &inc_dec_kp C_VOL_DN C_VOL_UP
        >;
    };

    numpad_layer {
      display-name = "numpad";
      bindings = <
      // ╭────────────────────────────╮          ╭──────────────────────────╮
      // | TAB   =    _    7   8   9  |          |  7   8   9   (   )  BSPC |
      // | SHFT  +    -    4   5   6  ╰────╮ ╭───╯  4   5   6   {   }       |
      // | CTRL  *    /    1   2   3   ( ) | | ( )  1   2   3   [   ]       |
      // ╰────────╮ (altb) 0   .  ENT   ●  | |  ●   0   .  ENT ( ) ╭────────╯
      //          ╰────────────────────────╯ ╰─────────────────────╯

        &kp TAB   &kp EQUAL &kp UNDER &kp N7  &kp N8  &kp N9                  &kp N7 &kp N8 &kp N9  &kp LPAR &kp RPAR &trans
        &kp LSHFT &kp PLUS  &kp MINUS &kp N4  &kp N5  &kp N6                &kp N4 &kp N5 &kp N6  &kp LBKT &kp RBKT &none
        &kp LCTRL &kp STAR  &kp SLASH &kp N1  &kp N2  &kp N3                &kp N1 &kp N2 &kp N3  &kp LBRC &kp RBRC &none
                  &trans    &kp N0    &kp DOT &kp RET &trans &trans   &trans &trans &kp N0 &kp DOT &kp RET &trans
      >;
      sensor-bindings = <
        &inc_dec_kp LEFT RIGHT
        &inc_dec_kp C_VOL_DN C_VOL_UP
        >;
    };

    navigation_layer {
      display-name = "navigation";
      bindings = <
      // ╭────────────────────────────╮               ╭─────────────────────────────╮
      // | TAB   1    2    3   4   5  |               |  6    7    8    9    0   `  |
      // | SHFT  !    @    #   $   %  ╰──────╮ ╭──────╯  ^    &    *    (    )      |
      // | CTRL GUI  <-    ^   v   ->  (Pwr) | | (RGB)  hue- hue+ sat- sat+ br- br+ |
      // ╰────────╮ (altb) TL  TR  ●   SPACE | | SPACE   ●    TL   TR (Eff) ╭───────╯
      //          ╰──────────────────────────╯ ╰────────────────────────────╯

        &trans &kp N1   &kp N2   &kp N3   &kp N4   &kp N5                                &kp N6    &kp N7   &kp N8    &kp N9  &kp N0   &kp GRAVE
        &trans &kp EXCL &kp AT   &kp HASH &kp DLLR &kp PRCNT                             &kp CARET &kp AMPS &kp STAR &kp LPAR &kp RPAR &none
        &trans &kp LGUI &kp LEFT &kp UP   &kp DOWN &kp RIGHT                             &rgb_ug RGB_HUD &rgb_ug RGB_HUI &rgb_ug RGB_SAD &rgb_ug RGB_SAI &rgb_ug RGB_BRD  &rgb_ug RGB_BRI
        &trans &mcr_tilelt &mcr_tilert &trans &trans &ext_power EP_TOG  &rgb_ug RGB_TOG &trans &trans &mcr_tilelt &mcr_tilert &rgb_ug RGB_EFF
      >;
      // encoder order: RH Left, RH Right, LH Left, LH Right
      sensor-bindings = <
        &inc_dec_kp LEFT RIGHT
        &inc_dec_kp C_VOL_DN C_VOL_UP
        >;
    };


#ifdef HAS_MOUSE_KEYS
    MouseKeys_layer {
      display-name = "MouseKeys";
      bindings = <
        // ╭─────────────────────────────────╮             ╭──────────────────────────────────╮
        // | TPSet TPSet  -   mvup  scrlup - |             | -  scrlup mvup    -  TPSet TPSet |
        // |   -     -  mvlft mvdwn mvrgt  - ╰─────╮ ╭─────╯ -  mvlft  mvdwn mvrgt  -     -   |
        // |   -     -    -     -   scrldn -   ( ) | | ( )   -  scrldn   -     -    -     -   |
        // ╰─────────╮  ( )     -   rclk mclk lclk | | lclk mclk rclk - ( ) ╭─────────────────╯
        //           ╰─────────────────────────────╯ ╰──────────────────────╯
        U_TOG_TP_SET U_TOG_TP_SET &none &mmv MOVE_UP &msc SCRL_UP &none &none &msc SCRL_UP &mmv MOVE_UP &none U_TOG_TP_SET U_TOG_TP_SET
        &none &none &mmv MOVE_LEFT &mmv MOVE_DOWN &mmv MOVE_RIGHT &none &none &mmv MOVE_LEFT &mmv MOVE_DOWN &mmv MOVE_RIGHT &none &none
        &none &none &none &none &msc SCRL_DOWN &none &none &msc SCRL_DOWN &none &none &none &none
        &trans &none &mkp RCLK &mkp MCLK &mkp LCLK &trans &trans &mkp LCLK &mkp MCLK &mkp RCLK &none &trans
      >;
      // encoder order: RH Left, RH Right, LH Left, LH Right
      sensor-bindings = <
        &inc_dec_kp LEFT RIGHT
        &inc_dec_kp C_VOL_DN C_VOL_UP
        >;
    };
#endif

#ifdef HAS_MOUSE_TP
    // Automatically activated when the mouse or trackpoint moves.
    // Configured in `include/mouse_tp.dtsi`.
    MouseTP_layer {
      display-name = "TP";
      bindings = <
        U_TOG_TP_SET U_TOG_TP_SET &trans &trans &msc SCRL_UP   &trans      &trans &trans &trans &trans U_TOG_TP_SET U_TOG_TP_SET
        &trans       &trans       &trans &trans &trans         &trans      &trans &trans &trans &trans &trans       &trans
        &trans       &trans       &trans &trans &msc SCRL_DOWN &trans      &trans &trans &trans &trans &trans       &trans
        &trans &none &mkp RCLK &mkp MCLK &mkp LCLK &trans &trans &mkp LCLK &mkp MCLK &mkp RCLK &none &trans
      >;
      // encoder order: RH Left, RH Right, LH Left, LH Right
      sensor-bindings = <
        &inc_dec_kp LEFT RIGHT
        &inc_dec_kp C_VOL_DN C_VOL_UP
        >;
    };

    // You can find the defines for the actual key press behaviors in `include/mouse_tp.dtsi`.
    MouseSettings_layer {
      display-name = "Mouse TP Set";
      bindings = <
        // ╭──────────────────────────╮           ╭─────────────────────────╮
        // |   -    -   -   -   -   - |           | -   -   -   -   -   -   |
        // |   -    -   -   -   -   - ╰────╮ ╭────╯ -   -   -   -   -   -   |
        // |   -    -   -   -   -   -  ( ) | | ( )  -   -   -   -   -   -   |
        // ╰────────╮  ( )  -   -   -   -  | |  -   -   -   -  ( ) ╭────────╯
        //          ╰──────────────────────╯ ╰─────────────────────╯
        U_TOG_TP_SET U_TOG_TP_SET &none SnsDec SnsInc PtsInc     PtsInc SnsDec SnsInc &none U_TOG_TP_SET U_TOG_TP_SET
                      TpRst TpRst &none InrDec InrInc PtsDec     PtsDec InrDec InrInc &none TpRst TpRst
                      TpLog TpLog &none MxSDec MxSInc &none      &none  MxSDec MxSInc &none TpLog TpLog
        &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &to 1
        // !!!!! return to base layer upon pressing the right encoder !!!!!
      >;
      // encoder order: RH Left, RH Right, LH Left, LH Right
      sensor-bindings = <
        &inc_dec_kp LEFT RIGHT
        &inc_dec_kp C_VOL_DN C_VOL_UP
        >;
    };
#endif
  };
};


        // ╭──────────────────────────╮           ╭─────────────────────────╮
        // |   -    -   -   -   -   - |           | -   -   -   -   -   -   |
        // |   -    -   -   -   -   - ╰────╮ ╭────╯ -   -   -   -   -   -   |
        // |   -    -   -   -   -   -  ( ) | | ( )  -   -   -   -   -   -   |
        // ╰────────╮  ( )  -   -   -   -  | |  -   -   -   -  ( ) ╭────────╯
        //          ╰──────────────────────╯ ╰─────────────────────╯
